@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    background-color: #F1EBDF;
    min-height: 100vh;   
}

:root {
    --max-w: 1200px;

    --br-1: 8px; 

    --bw-1: 2px;

    --color-1: #F1EBDF;
    --color-2: #000000;
    --gradient-1: linear-gradient(102.87deg, #3B3B3B 0.99%, #0A0A0A 100%);

}




.color-1 {
    color: white;
}


.color-button {
    color: #F1EBDF;
}